---
import Layout from '../Layout.astro';
---

<Layout title="5. What Can Be Done" prevPage="/sheets/SheetFour" nextPage="/sheets/SheetSix">
  <section class="slide-card slide-anim">
    <h1>5. What Can Be Done</h1>
    <p>From floating menus (like our own) to artificial intelligence, robotics, and virtual reality.</p>
    <p>Every day new possibilities emerge thanks to creative developers.</p>
  </section>
</Layout>