---
import Layout from "../Layout.astro";
---

<Layout
  title="4. Impact on Other Careers"
  prevPage="/sheets/SheetThree"
  nextPage="/sheets/SheetFive"
>
  <section class="slide-card slide-anim">
    <h1>4. Impact on Other Careers</h1>
    <p>
      Software development has transformed fields like medicine, education,
      finance, art, and engineering.
    </p>
    <p>
      It enables new tools, data analysis, simulations, and global
      collaboration.
    </p>
  </section>
</Layout>
