---
import Layout from "../Layout.astro";
---

<Layout title="1. Presentation" nextPage="/sheets/SheetTwo">
  <section class="slide-card slide-anim">
    <h1>1. Presentation</h1>
    <p>Welcome to the world of Software Development.</p>
    <p>
      In this presentation we’ll explore what it is, why it matters, and how it
      impacts our world.
    </p>
  </section>
</Layout>
